# Escuela Politécnica Nacional
### Proyecto N° 1
### Integrantes
#### Carlos Vasquez 
#### Gustavo Aconda

In [62]:
import pandas as pd
import numpy as np

In [63]:
df=pd.read_csv("Datasetproyecto.csv",header=None)
df=df.drop([0],axis=0);

In [64]:
df.head()

,0,1,2,3,4,5,6,7,8
1,ANALISTA DE GESTION DE ABASTECIMIENTO,3,1755,21060,146.25,31.25,0,0,177.5
2,SUPERINTENDENTE DE MANTENIMIENTO,6,5250,63000,437.5,31.25,0,0,468.75
3,SUPERVISOR RCRS,5,3300,39600,275,31.25,0,0,306.25
4,MENSAJERO,1,962,11544,80.17,31.25,0,0,111.42
5,AUXILIAR DE CAFETERIA,1,779,9348,64.92,31.25,0,0,96.17

In [65]:
df.shape

(10279, 9)

In [66]:
df.columns=["PuestoInstitucional","Gradojerarquicooescalaalqueperteneceelpuesto","Remuneracionmensualunificada","Remuneracionunificadaanual","DecimoTerceraRemuneracion","DecimaCuartaRemuneracion","Horassuplementariasyextraordinarias","Encargosysubrogaciones","Totalingresosadicionales"]

In [67]:
df.head()

,PuestoInstitucional,Gradojerarquicooescalaalqueperteneceelpuesto,Remuneracionmensualunificada,Remuneracionunificadaanual,DecimoTerceraRemuneracion,DecimaCuartaRemuneracion,Horassuplementariasyextraordinarias,Encargosysubrogaciones,Totalingresosadicionales
1,ANALISTA DE GESTION DE ABASTECIMIENTO,3,1755,21060,146.25,31.25,0,0,177.5
2,SUPERINTENDENTE DE MANTENIMIENTO,6,5250,63000,437.5,31.25,0,0,468.75
3,SUPERVISOR RCRS,5,3300,39600,275,31.25,0,0,306.25
4,MENSAJERO,1,962,11544,80.17,31.25,0,0,111.42
5,AUXILIAR DE CAFETERIA,1,779,9348,64.92,31.25,0,0,96.17

In [78]:
df.dtypes

PuestoInstitucional                              object
Gradojerarquicooescalaalqueperteneceelpuesto      int64
Remuneracionmensualunificada                    float64
Remuneracionunificadaanual                      float64
DecimoTerceraRemuneracion                       float64
DecimaCuartaRemuneracion                        float64
Horassuplementariasyextraordinarias             float64
Encargosysubrogaciones                          float64
Totalingresosadicionales                        float64
dtype: object

In [69]:
df["Gradojerarquicooescalaalqueperteneceelpuesto"]=df["Gradojerarquicooescalaalqueperteneceelpuesto"].apply(pd.to_numeric)

In [77]:
df["Remuneracionmensualunificada"]=df["Remuneracionmensualunificada"].astype(float)
df["Remuneracionunificadaanual"]=df["Remuneracionunificadaanual"].astype(float)
df["DecimoTerceraRemuneracion"]=df["DecimoTerceraRemuneracion"].astype(float)
df["DecimaCuartaRemuneracion"]=df["DecimaCuartaRemuneracion"].astype(float)
df["Horassuplementariasyextraordinarias"]=df["Horassuplementariasyextraordinarias"].astype(float)
df["Encargosysubrogaciones"]=df["Encargosysubrogaciones"].astype(float)
df["Totalingresosadicionales"]=df["Totalingresosadicionales"].astype(float)

In [79]:
df.head(20)

,PuestoInstitucional,Gradojerarquicooescalaalqueperteneceelpuesto,Remuneracionmensualunificada,Remuneracionunificadaanual,DecimoTerceraRemuneracion,DecimaCuartaRemuneracion,Horassuplementariasyextraordinarias,Encargosysubrogaciones,Totalingresosadicionales
1,ANALISTA DE GESTION DE ABASTECIMIENTO,3,1755.00,21060.0,146.25,31.25,0.00,0.0,177.50
2,SUPERINTENDENTE DE MANTENIMIENTO,6,5250.00,63000.0,437.50,31.25,0.00,0.0,468.75
3,SUPERVISOR RCRS,5,3300.00,39600.0,275.00,31.25,0.00,0.0,306.25
4,MENSAJERO,1,962.00,11544.0,80.17,31.25,0.00,0.0,111.42
5,AUXILIAR DE CAFETERIA,1,779.00,9348.0,64.92,31.25,0.00,0.0,96.17
6,AUXILIAR DE CAFETERIA,1,784.00,9408.0,65.33,31.25,0.00,0.0,96.58
7,MENSAJERO,1,784.00,9408.0,65.33,31.25,0.00,0.0,96.58
8,JEFE DE CONTROL DE QUIMICOS,6,6146.00,73752.0,512.17,31.25,0.00,0.0,543.42
9,ASISTENTE ADMINISTRATIVA,2,1100.00,13200.0,91.67,31.25,0.00,0.0,122.92
10,ASISTENTE DE ARCHIVO,2,1131.00,13572.0,94.25,31.25,0.00,0.0,125.50
11,ASISTENTE DE ARCHIVO,2,1284.00,15408.0,107.00,31.25,0.00,0.0,138.25
12,JEFE DE CAMPO,7,6100.00,73200.0,508.33,31.25,0.00,0.0,539.58
13,RESERVORISTA,5,4213.65,50563.8,351.14,31.25,0.00,0.0,382.39
14,TÉCNICO ELÉCTRICO (PLANTA DE GENERACIÓN),3,2257.00,27084.0,188.08,31.25,0.00,0.0,219.33
15,INGENIERO DE CORROSIÓN Y QUÍMICOS,5,3217.00,38604.0,268.08,31.25,0.00,0.0,299.33
16,SUPERVISOR DE INSTRUMENTACIÓN,5,4097.00,49164.0,357.78,31.25,196.31,0.0,585.34
17,SUPERINTENDENTE DE RCRS ( E ),6,3849.00,46188.0,320.75,31.25,0.00,512.0,864.00
18,BODEGUERO,2,1418.00,17016.0,124.08,31.25,70.90,0.0,226.23
19,SUPERINTENDENTE DE OPERACIONES ( S ),6,3360.00,40320.0,280.00,31.25,0.00,1607.0,1918.25
20,SUPERINTENDENTE DE SEGURIDAD,5,4361.00,52332.0,363.42,31.25,0.00,0.0,394.67